<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3">
			  <h3 class="m-t-0">hiTango</h3>
			</div>
			<div class="col-md-3 col-sm-3">
			  <ul>
				<li><a routerLink="/myorder" routerLinkActive="active">My Order</a></li>
				<li><a routerLink="/users" routerLinkActive="active">Users</a></li>
				<li><a routerLink="/products" routerLinkActive="active">Products</a></li>
				<li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
			  </ul>
			</div>
			<div class="col-md-3 col-sm-3">
				<ul>
				  <li><a routerLink="/home" routerLinkActive="active">Milongas</a></li>
				  <li><a routerLink="/home" routerLinkActive="active">Events</a></li>
				  <li><a routerLink="/home" routerLinkActive="active">Festivals</a></li>
				  <li><a routerLink="/home" routerLinkActive="active">Class</a></li>
				  <li><a routerLink="/home" routerLinkActive="active">Master Classes</a></li>
				</ul>
			  </div>			
			<div class="col-md-3 col-sm-3">
			  <ul>
				<li><a routerLink="/home" routerLinkActive="active">Schools</a></li>
				<li><a routerLink="/home" routerLinkActive="active">Masters</a></li>
				<li><a routerLink="/home" routerLinkActive="active">Artists</a></li>
				<li><a routerLink="/home" routerLinkActive="active">Orchestras</a></li>
				<li><a routerLink="/home" routerLinkActive="active">DJs</a></li>
				<li><a routerLink="/home" routerLinkActive="active">Rooms</a></li>
			  </ul>
			</div>
		</div>
		<hr>		
		<div class="row">
			
            <div class="col-md-12 col-xs-12">
				<p class="text-right">
					<a routerLink="/">Terms of Use</a> | 
					<a routerLink="/">Privacy Policy</a> | 
					<a routerLink="/contact" routerLinkActive="active">Contact Us</a>
				</p>
            </div>
        </div>  		
	</div>
</footer>